.buttons {
    margin-top: 10px;  
    input {
        background-color: #f8f9fa;
        color: #3c4043;
        border: none;
        border-radius: 4px;
        padding: 0 16px;
        height: 36px;
        margin-right: 4px;
        margin-left: 4px;
    }
}

.language {
    margin-top: 20px;
    font-size: 13px;
    a{
    text-decoration: none;
     &:hover{
         text-decoration: underline;
     }
    }
}