.footer {
    background-color: #f2f2f2;
    width: 100%;
    a{
    padding: 15px;    
    color: #70757a;
    text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.footer-wrapper {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;  
}

.left-footer {
    display: flex;
    flex-wrap: wrap;   
}

.CO2 {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    img {
        height: 14px;
        width: 12.25px;
        margin-right: 6px;
    }
    a {
        padding: 0;
    }
}

.right-footer {
    display: flex;
    flex-wrap: wrap;   
}

.country {
    padding: 15px 30px;
    color: rgba(0,0,0,.54);
    border-bottom: 1px solid #dadce0;
   
}

