.header a {        
    text-decoration: none;            
    color: rgba(0, 0, 0, 0.87);  
    margin-left: 15px; 
    margin-right: 5px;   
    padding: 6px;  
        &:hover {
        text-decoration: underline;
        }       
}


.material-icons {
    color: #5f6368;
}  
