html {
    font-family: arial, sans-serif;
    font-size: 14px;  
    margin: 0;
    padding: 0; 
       
}

.header {    
    display: flex;
    justify-content: space-between;    
    align-items: center;    
}

.header-right {
    display: flex;
    align-items: center;    
    font-size: 13px;
} 

.container { 
    display: flex;
    flex-direction: column;   
    align-items: center;    
    margin-top: 215px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;  
    right: 0;  
    font-size: 15px;
}