* {
    font-family: arial, sans-serif;
    font-size: 14px;  
    margin: 0;
    padding: 0;        
}

body {
    display: flex;
    flex-direction: column;    
    height: 100%;
}

.header {    
    display: flex;
    justify-content: space-between;    
    align-items: center;    
}

.header-right { 
    display: flex;  
    align-items: center;
    padding: 0 4px 0 32px;
        a {
        font-size: 13px;
        line-height: 24px;
        }
} 

.container { 
    display: flex;
    flex-direction: column;   
    align-items: center; 
    justify-content: center;    
    height: 80vh;
             
}

.textfield {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    justify-self: flex-end;    
      
}

.country {
    font-size: 15px;
}

@media only screen and (max-width: 1210px) {
    .CO2 {
        order: 0;
        width: 100%;
        justify-content: center;
    }
    .footer-wrapper {
        justify-content: space-evenly;
    }   
    .textfield {
        width: 400px;
    }
    
    
}
@media only screen and (max-width: 440px) {   
    .header a:first-of-type {
        margin-left: 5px;
        
    }
    .textfield {
        width: 300px;       
    }
    
}