html {
    font-family: arial, sans-serif;
    font-size: 14px;  
    margin: 0;
    padding: 0;        
}

body {
    display: flex;
    flex-direction: column;    
    height: 100%;
}

.header {    
    display: flex;
    justify-content: space-between;    
    align-items: center;    
}

.header-right {
    display: flex;
    align-items: center;    
    font-size: 13px;
} 

.container { 
    display: flex;
    flex-direction: column;   
    align-items: center; 
    justify-content: center;    
    height: 80vh;
             
}

.textfield {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;  
    right: 0;  
}

.country {
    font-size: 15px;
}

@media only screen and (max-width: 1210px) {
    .CO2 {
        order: 0;
        width: 100%;
        justify-content: center;
    }
    .footer-wrapper {
        justify-content: space-evenly;
    }
    .container {
        top: 70px;
    }
    .textfield {
        width: 400px;
    }
    
}
@media only screen and (max-width: 400px) {
    overflow: scroll;
    .textfield {
        width: 300px;
    }
}