.header a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 15px;
  margin-right: 5px;
  padding: 6px;
}

.header a:hover {
  text-decoration: underline;
}

.material-icons {
  color: #5f6368;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #dfe1e5;
  padding: 5px 16px 0 16px;
  height: 44px;
  width: 560px;
  margin: 20px auto;
  border-radius: 24px;
}

.search:hover {
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search span {
  color: #9aa0a6;
  font-size: 20px;
}

#input {
  font-size: 15px;
  width: 487px;
  height: 39px;
  border: none;
  outline: none;
}

.buttons {
  margin-top: 10px;
  position: relative;
}

.buttons input {
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 16px;
  height: 36px;
  margin: 11px 8px;
  cursor: pointer;
}

.buttons input:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
}

.language {
  margin-top: 20px;
  font-size: 13px;
}

.language a {
  text-decoration: none;
}

.language a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #f2f2f2;
  width: 100%;
}

.footer a {
  padding: 15px;
  color: #70757a;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-wrapper {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.CO2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.country {
  padding: 15px 30px;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid #dadce0;
}

html {
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 215px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
}
/*# sourceMappingURL=main.css.map */