html {
    font-family: arial, sans-serif;
    font-size: 14px;
    
}

.top-nav {    
    display:flex;
    justify-content:space-between;
    padding: 6px;
    a {
        color:#222;
        text-decoration: none;
        margin-right: 1.5em;
        margin-left: 1.5em;
    }
}

img {
    display: block;
    margin: auto;
    margin-top: 10%;
}
.search {
    margin: auto;
}


