html {
    font-family: arial, sans-serif;
    font-size: 13px;   
    color: #5f6368;
}

.nav-wrapper {    
    display:flex;
    justify-content:flex-end;
    padding: 6px;
    margin-top: 1em;
    a {
        color:#222;
        text-decoration: none;
        margin-right: 15px;
        margin-left: 15px;
        &:hover {
            text-decoration: underline;
        }         
    }
    span {
        padding: 8px;
    }
}

img {
    display: block;
    margin: auto;
    margin-top: 100px;
}
.search {
    text-align:center;
    margin-top: 2em;   
}

#input {
    font-size: 15px;   
    width: 465px;
    height: 42px;
    
}


